body {
	font-family: "Montserrat", sans-serif;
	background-color: #e0ffff;
	font-size: 24px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: rgb(223, 151, 18);
	text-decoration: underline;
}

li {
	list-style: none;
	font-weight: bold;
}

nav {
	text-align: center;
}

nav li {
	display: inline;
	margin-right: 40px;
	font-size: 24px;
}

.avatar {
	display: block;
	margin: auto;
	padding-top: 30px;
}

.avatar:hover {
	filter: sepia(1);
}

h1,
h2,
h3 {
	text-align: center;
}

h1:hover,
h2:hover,
h3:hover {
	color: rgb(223, 151, 18);
}

h1 {
	font-size: 52px;
}

h2 {
	margin-top: 80px;
	margin-bottom: 80px;
	font-size: 36px;
}

.contacts {
	text-align: center;
}

.contacts li {
	display: inline-block;
	margin-right: 60px;
}

.contacts li:hover {
	color: rgb(223, 151, 18);
	text-decoration: underline;
}

.about {
	display: block;
	margin: auto;
	margin: 0 160px;
	font-style: italic;
	font-weight: bold;
	line-height: 2;
}

.about:hover {
	color: rgb(223, 151, 18);
}

code {
	display: block;
	margin: auto;
	padding-left: 80px;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #131414;
	width: 400px;
	color: white;
}

code span:nth-child(1),
code span:nth-child(5) {
	color: #b294bb;
}

code span:nth-child(2),
code span:nth-child(3),
code span:nth-child(4) {
	color: #de935f;
}

code span:nth-child(6),
code span:nth-child(7) {
	color: #89b6c5;
}

code span:nth-child(8) {
	display: block;
}

.skills {
	text-align: center;
}

.skills li {
	display: inline-block;
	margin-right: 60px;
}

.skills li:hover {
	color: rgb(223, 151, 18);
}

.project-image {
	display: block;
	margin: auto;
	filter: grayscale(1);
}

.project-image:hover {
	filter: grayscale(0);
}

.education {
	text-align: center;
}

.education li {
	display: inline-block;
	margin-right: 60px;
}

.education li:hover {
	color: rgb(223, 151, 18);
}

.languages {
	text-align: center;
}

.languages li {
	display: inline-block;
	margin-right: 60px;
}

.languages li:hover {
	color: rgb(223, 151, 18);
}

footer {
	text-align: center;
	margin-top: 50px;
}

footer li {
	display: inline-block;
}

footer li:nth-child(1),
footer li:nth-child(2) {
	margin-right: 400px;
}

footer li:hover {
	color: rgb(223, 151, 18);
}
